/* Estilos generales */
body {
    font-family: 'Arial', sans-serif;
    background-color: #e9f1e4; /* Fondo gris claro con un tono verde */
    color: #333;
    margin: 0;
    padding: 0;
}

/* Estilo del encabezado */
header {
    background-color: #1e5631; /* Verde oscuro */
    color: #f1e0a4; /* Dorado claro */
    padding: 30px 0;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

header h1 {
    font-size: 2.5em;
    font-weight: bold;
    margin: 0;
}

/* Sección del profesor */
.profesor {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 40px 20px;
    background-color: #ffffff; /* Fondo blanco */
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.foto img {
    border-radius: 50%;
    width: 180px;
    height: 180px;
    border: 4px solid #2d6a4f; /* Borde verde */
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    margin-right: 30px;
}

.informacion h2 {
    color: #1e5631; /* Verde oscuro */
    font-size: 2em;
    margin-bottom: 20px;
}

.informacion ul {
    list-style-type: none;
    padding: 0;
}

.informacion ul li {
    font-size: 1.2em;
    margin-bottom: 8px;
}

/* Sección de Nivel Académico */
.nivel {
    background-color: #ffffff; /* Fondo blanco */
    padding: 30px;
    margin: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.nivel h3 {
    color: #1e5631; /* Verde oscuro */
    font-size: 1.8em;
}

/* Sección de Contacto */
.contacto {
    background-color: #ffffff;
    padding: 30px;
    margin: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.contacto h3 {
    color: #1e5631; /* Verde oscuro */
    font-size: 1.8em;
}

.contacto ul {
    list-style-type: none;
    padding: 0;
}

.contacto ul li {
    font-size: 1.2em;
    margin-bottom: 10px;
}

.contacto ul li a {
    color: #1e5631;
    text-decoration: none;
    font-weight: bold;
}

.contacto ul li a:hover {
    text-decoration: underline;
}

/* Estilo del pie de página */
footer {
    background-color: #1e5631; /* Verde oscuro */
    color: #f1e0a4; /* Dorado claro */
    padding: 15px 0;
    text-align: center;
    position: relative;
    bottom: 0;
    width: 100%;
    box-shadow: 0 -4px 8px rgba(0, 0, 0, 0.2);
}
